<div>
  <h1>Edit Blog Post ID: {{blog.id}}</h1>
  <p>{{blog.title}}</p>
  <div>
    <input type="text" id="title" name="title" value="{{blog.title}}">
    <input type="file" id="coverImage" name="coverImage" value="{{blog.coverImage}}">
    <input type="text" id="description" name="description" value="{{blog.description}}">
    <button type="submit" id="submit" onclick="updateBlog('{{blog.id}}', '{{blog.coverImage}}', '{{blog.createdAt}}')">Submit</button>
  </div>
  <form action="/api/blog/{{blog.id}}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete Blog Post</button>
  </form>
  <p id="response-text"></p>
</div>

<script>
  function updateBlog(id, originalImage, createdAt){
    const title = document.getElementById('title').value;
    const newCoverImage = document.getElementById('coverImage').files[0];
    const description = document.getElementById('description').value;
    const button = document.getElementById('submit');
    const p = document.getElementById('response-text');

    p.innerHTML = '';
    button.setAttribute('disabled', 'true');

    let payload = {
      title,
      description,
      createdAt,
    }

    if(!newCoverImage){
      payload.coverImage = originalImage;
      makeRequest(payload, id, button);
    } else {
      const reader = new FileReader();

      reader.addEventListener('load', () => {
        payload.coverImage = reader.result;
        makeRequest(payload, id, button);
      }, false)

      if(coverImage) {
        reader.readAsDataURL(newCoverImage);
      }
    }
  }

  function makeRequest(payload, id, button){
    const p = document.getElementById('response-text');
    const URL = `/api/blog/${id}`;
    const xhr = new XMLHttpRequest();
    xhr.open('PUT', URL);
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.onreadystatechange = () => {
      p.innerHTML = xhr.responseText;
      button.removeAttribute('disabled');
    }
    xhr.send(JSON.stringify(payload));
  }

</script>